{# 展示片段，取自真實 app pages/components/component.html 09 Checkbox&Radio section 的 Radio 部分（節錄，class 沿用真實系統） #}
<div class="flex-row flex-wrap gap-20">
    <label class="form-radio">
        <input type="radio" name="radio_sample_1" checked>
        <span>radio1</span>
    </label>
    <label class="form-radio">
        <input type="radio" name="radio_sample_1">
        <span>radio2</span>
    </label>
    <label class="form-radio">
        <input type="radio" name="radio_sample_2" checked disabled>
        <span>radio1</span>
    </label>
    <label class="form-radio">
        <input type="radio" name="radio_sample_2" disabled>
        <span>radio2</span>
    </label>
    <label class="form-radio border-wrap">
        <input type="radio" name="radio_sample_3" checked>
        <span>radio1</span>
    </label>
    <label class="form-radio border-wrap">
        <input type="radio" name="radio_sample_3">
        <span>radio2</span>
    </label>
</div>
