{# 展示片段，取自真實 app pages/components/component.html 14 list style列表樣式 section（節錄，class 沿用真實系統） #}
<div class="caption">
    <ul>
        <li>實心圓點樣式：使用.list-style-disc</li>
    </ul>
</div>
<div>
    <ul class="list-style-disc">
        <li>申請簽證</li>
        <li>公司/學校要求提供出國紀錄</li>
        <li>法律訴訟或稅務需求</li>
    </ul>
</div>

<hr>

<div class="caption">
    <ul>
        <li>阿拉伯數字樣式：使用.list-style-decimal</li>
    </ul>
</div>
<div>
    <ol class="list-style-decimal">
        <li>申請文件名稱</li>
        <li>申請方式</li>
    </ol>
</div>
