// 逐位元照抄自真 app scss/component.scss 1810-1827（.priority-table 意圖判斷表格區塊），只搬檔案位置，宣告一字不改
.priority-table {
    thead {
        tr {
            border: 1px solid var(--color-gray-350);

            th {
                background-color: var(--color-gray-350);
            }
        }
    }

    tbody {
        tr {
            border: 1px solid var(--color-gray-350);
            height: 68px;
        }
    }
}
