{# 展示片段，取自真實 app pages/components/component.html 12 Accordion手風琴 section（節錄兩列，class 沿用真實系統） #}
{# 手風琴表格使用「.accordion-table」class，父層用「div.accordion-content」包覆；<tr class="detail-row"> <td colspan class="detail-cell"> 包覆要開合的內容；
     button.accordion-btn 加上 .open 時切換箭頭圖示。開合行為見 accordion.js（掃描根為 accordion 自有的 .js-accordion） #}
<div class="js-accordion">
    <div class="table-container scrollTable mt-16">
        <table class="default-table no-border">
            <colgroup>
                <col style="width:40px; min-width:40px;">
                <col style="width:272px; min-width:272px;">
                <col style="min-width: 580px;">
                <col style="width:240px; min-width:240px;">
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th>序號</th>
                    <th>檔案</th>
                    <th>資料集</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button type="button" class="button accordion-btn" aria-expanded="false" title="展開表格">
                            <span class="sr-only">展開表格</span>
                        </button>
                    </td>
                    <td>12173-1</td>
                    <td>
                        <a href="#" class="link-file">vector8_chunk718_20240829024537_111-1021-5-_入出國及法令彙編1671頁.xlsx</a>
                    </td>
                    <td>移民署 測試</td>
                </tr>

                {# detail row（隱藏） #}
                <tr class="detail-row">
                    <td colspan="4" class="detail-cell">
                        {# 內嵌資料 #}
                        <div class="accordion-content">
                            <table class="accordion-table">
                                <tbody>
                                    <tr>
                                    <th>標題</th>
                                    <td>標題名稱ＡＡＡＡＡＡ</td>
                                    <th>時間</th>
                                    <td>2023/11/01 13:00:01</td>
                                </tr>
                                <tr>
                                    <th>內容</th>
                                    <td colspan="3">
                                        內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字
                                    </td>
                                </tr>
                                <tr>
                                    <th>備註1</th>
                                    <td colspan="3">備註文字</td>
                                </tr>
                                <tr>
                                    <th>備註2</th>
                                    <td colspan="3">備註文字備註文字備註文字備註文字備註文字備註文字備註文字備註文字</td>
                                </tr>
                                <tr>
                                    <th>參考資料</th>
                                    <td colspan="3">來源名稱</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button type="button" class="button accordion-btn" aria-expanded="false" title="展開表格">
                            <span class="sr-only">展開表格</span>
                        </button>
                    </td>
                    <td>12173-2</td>
                    <td>
                        <a href="#" class="link-file">vector8_chunk719_20240829024538_111-1022-6-_入出國及法令彙編1672頁.xlsx</a>
                    </td>
                    <td>移民署 測試</td>
                </tr>

                {# detail row（隱藏） #}
                <tr class="detail-row">
                    <td colspan="4" class="detail-cell">
                        {# 內嵌資料 #}
                        <div class="accordion-content">
                            <table class="accordion-table">
                                <tbody>
                                    <tr>
                                    <th>標題</th>
                                    <td>標題名稱ＡＡＡＡＡＡ</td>
                                    <th>時間</th>
                                    <td>2023/11/01 13:00:01</td>
                                </tr>
                                <tr>
                                    <th>內容</th>
                                    <td colspan="3">
                                        內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字
                                    </td>
                                </tr>
                                <tr>
                                    <th>備註1</th>
                                    <td colspan="3">備註文字</td>
                                </tr>
                                <tr>
                                    <th>備註2</th>
                                    <td colspan="3">備註文字備註文字備註文字備註文字備註文字備註文字備註文字備註文字</td>
                                </tr>
                                <tr>
                                    <th>參考資料</th>
                                    <td colspan="3">來源名稱</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
